name: "Apply code formatting"
on:
  issue_comment:
    types: edited
    # Filter by reaction type
    #reactions:
    #  - +1
env:
  TRIGGER: false

permissions:
  pull-requests: write

jobs:
  echo_comment:
    runs-on: ubuntu-latest
    steps:
      - name: echo
        env:
          COMMENT: ${{ github.event.comment.body }}
          AUTHOR: ${{ github.event.pull_request.author }}
          CREATE_AT: ${{ github.event.pull_request.created_at  }}
          GITHUB_PR_NUMBER: ${{ github.event.issue.number }}
          REACTION: ${{ github.event.issue.reactions.rocket }}
          ISSUE_REACTION: ${{ github.event.comment.reactions.rocket }}
          USER: ${{ github.event.comment.author }}
        run: |
          echo "GITHUB_PR_NUMBER: $GITHUB_PR_NUMBER"
          echo "COMMENT: $COMMENT"
          echo "AUTHOR: $AUTHOR"
          echo "CREATE_AT: $CREATE_AT"
          echo "REACTION: $REACTION"
          echo "ISSUE_REACTION: $ISSUE_REACTION"
          echo "USER: $USER"

  check_trigger:
    runs-on: ubuntu-latest
    steps:
      -  uses: khan/pull-request-comment-trigger@v1.1.0
         id: check
         with:
           trigger: '@apply-formatting'
           reaction: rocket
         env:
           GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
      -  name: echo format_output
         run: |
           echo TRIGGER is $TRIGGERED
           echo "TRIGGER=$TRIGGERED" >> $GITHUB_ENV
         env:
           TRIGGERED: ${{ steps.check.outputs.triggered }}
    outputs:
      triggered: ${{ steps.check.outputs.triggered }}

  apply_diff:
    needs: [check_trigger]
    if: ${{ needs.check_trigger.outputs.triggered == 'true' }}
    #if: ${{ github.event.sender == github.event.pull_request.author && startsWith(github.event.comment.body, '<!--LLVM CODE FORMAT COMMENT:') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: download-diff
          path: /home/runner/work/format/${{ github.event.issue.number }}

      - name: Fetch LLVM sources
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Setup Python env
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: 'pip'
          cache-dependency-path: 'utils/git/requirements_formatting.txt'

      - name: Install python dependencies
        run: pip install -r utils/git/requirements_formatting.txt

      - name: Apply code diff
        env:
          GITHUB_PR_NUMBER: ${{ github.event.pull_request.number }}
        run: |
          python utils/git/code-format-helper.py \
            --token ${{ secrets.GITHUB_TOKEN }} \
            --issue-number $GITHUB_PR_NUMBER

      - name: Commit & Push changes
        uses: actions-js/push@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
