name: "Apply code formatting"
on:
  issue_comment:
    types: created
    # Filter by reaction type
    reactions:
      - +1

permissions:
  pull-requests: write

jobs:
  echo_comment:
    runs-on: ubuntu-latest
    steps:
      - name: echo
        env:
          COMMENT: ${{ github.event.comment.body }}
          AUTHOR: ${{ github.event.pull_request.author }}
          SENDER: ${{ github.event.sender }}
          GITHUB_PR_NUMBER: ${{ github.event.pull_request.number }}
        run: |
          echo "GITHUB_PR_NUMBER: $GITHUB_PR_NUMBER"
          echo "COMMENT: $COMMENT"
          echo "AUTHOR: $AUTHOR"
          echo "SENDER: $SENDER"

  apply_diff:
    if: ${{ github.event.sender == github.event.pull_request.author && startsWith(github.event.comment.body, '<!--LLVM CODE FORMAT COMMENT:') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: download-diff
          path: /home/runner/work/format/${{ github.event.pull_request.number }}

      - name: Fetch LLVM sources
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Setup Python env
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: 'pip'
          cache-dependency-path: 'utils/git/requirements_formatting.txt'

      - name: Install python dependencies
        run: pip install -r utils/git/requirements_formatting.txt

      - name: Apply code diff
        env:
          GITHUB_PR_NUMBER: ${{ github.event.pull_request.number }}
        run: |
          python utils/git/code-format-helper.py \
            --token ${{ secrets.GITHUB_TOKEN }} \
            --issue-number $GITHUB_PR_NUMBER

      - name: Commit & Push changes
        uses: actions-js/push@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
