name: "Apply code formatting"
on:
  issue_comment:
    types: edited
    # Filter by reaction type
    #reactions:
    #  - +1

permissions:
  pull-requests: write

jobs:
  echo_comment:
    runs-on: ubuntu-latest
    steps:
      - name: echo
        env:
          COMMENT: ${{ github.event.comment.body }}
          COMMENT_ID: ${{ github.event.comment.id }}
          COMMENT_NODE_ID: ${{ github.event.comment.node_id }}
          AUTHOR: ${{ github.event.pull_request.author }}
          CREATE_AT: ${{ github.event.pull_request.created_at  }}
          GITHUB_PR_NUMBER: ${{ github.event.issue.number }}
          REACTION: ${{ github.event.issue.reactions.rocket }}
          ISSUE_REACTION: ${{ github.event.comment.reactions.rocket }}
          USER: ${{ github.event.comment.author }}
        run: |
          echo "GITHUB_PR_NUMBER: $GITHUB_PR_NUMBER"
          echo "COMMENT: $COMMENT"
          echo "AUTHOR: $AUTHOR"
          echo "CREATE_AT: $CREATE_AT"
          echo "REACTION: $REACTION"
          echo "ISSUE_REACTION: $ISSUE_REACTION"
          echo "USER: $USER"
          echo "COMMENT_ID: $COMMENT_ID"
          echo "COMMENT_NODE_ID: $COMMENT_NODE_ID"

  apply_diff:
    if: ${{ startsWith(github.event.comment.body, '@apply-formatting<!--LLVM CODE FORMAT COMMENT:') }}
    runs-on: ubuntu-latest
    steps:

      - name: Fetch LLVM sources
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Setup Python env
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: 'pip'
          cache-dependency-path: 'utils/git/requirements_formatting.txt'

      - name: Install python dependencies
        run: pip install -r utils/git/requirements_formatting.txt

      - name: Apply code diff
        env:
          GITHUB_PR_NUMBER: ${{ github.event.issue.number }}
          COMMENT_ID: ${{ github.event.comment.id }}
        run: |
          python utils/git/code-format-diff-apply.py \
            --token ${{ secrets.GITHUB_TOKEN }} \
            --issue-number $GITHUB_PR_NUMBER \
            --comment-id $COMMENT_ID

      - name: Commit & Push changes
        uses: actions-js/push@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
